/*External style Sheet*/
body {
    background-image: linear-gradient(to bottom,black,rgb(97, 96, 96));
    font-family: 'Courier New';
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}
footer{
    text-align: center;
    padding: 10px;
    color:white;
    margin-top: auto;
    border-top: 0.5px solid darkgrey;

}
html{
    scroll-behavior: smooth;
}
#nav{
    background-color: black;
    color:white;
    text-align: center;
    border-bottom: 0.5px solid darkgrey;
}
#works a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin: 20px;
    display: block;
    border-radius: 5px;
    text-shadow: 1px .5px grey;
    font-size: 14px;
  
}
#works a:hover{
    background-color: #121212;
    padding: 12px;
    margin: 10px;
    font-size: 15px;
}
#works a:active{
    background-color:whitesmoke;
    padding: 12px;
    margin: 10px;
    font-size: 15px;
    color: Black;
    border: 2px solid black;
}
#dp{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: inline;
    margin: 10px;
}
#dp:hover{
    border:3px solid whitesmoke;
}
#icon{
    margin: auto;
}
#icon img{
    height: 40px;
    width: 40px;
    margin: 3px;
    display: inline;
}
#icon a:hover img{
    height: 45px;
    width: 45px;
    margin: 1.5px;
}
#about{
    text-align:justify;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.6em;
}
#download-button{
    font-weight: bolder;
    background-image: linear-gradient(to bottom right,rgb(97, 96, 96),#121212);
    border-radius: 5px;
    color: white;
    font-family: 'Courier New';
    text-decoration: none;
    padding: 8px;
    border:2px solid grey;
}
#cv{
    margin-bottom: 10px;
}
#cv a:hover{
    border:2px solid whitesmoke;

}
#up-down{
    display: inline; 
    float: right; 
    margin-right:10px;
    border-radius: 50%;
}
#up-down:hover{
    border:2px solid whitesmoke;
    margin-right: 8px;
}
