body {
    background-image: linear-gradient(to bottom,#000000,#000000);
    font-family: 'Arial';
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}
footer{
    text-align: center;
    padding: 10px;
    color:white;
    margin-top: auto;
    border-radius: 5px;
    margin: 1%;
    background-color: #283138;
}
html{
    scroll-behavior: smooth;
}
b,h1,h4{
    color: #7FB4E8;
}
footer p{
    color: #7FB4E8;
}
#nav{
    background-color: #283138;
    color:white;
    text-align: center;
    border-radius: 5px;
    margin: 1%;
}
.cont{
    background-color: #1D2226;
    border-radius: 5px;
    margin: 1%;
}
#works a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin: 20px;
    display: block;
    border-radius: 5px;
    font-size: 14px;
}
#works a:hover{
    background-color: #39434F;
    padding: 12px;
    margin: 10px;
    font-size: 15px;
}
#works a:active{
    background-image: linear-gradient(to top,#283138,#39434F);
    padding: 12px;
    margin: 10px;
    font-size: 15px;
    color: whitesmoke;
    border: 2px solid white;
}
#dp{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: inline;
    margin: 10px;
}
#dp:hover{
    border:3px solid #BCBDC1;
}
#dp:active{
    border:3px solid white;
}
#icon{
    margin: auto;
}
#icon img{
    height: 40px;
    width: 40px;
    margin: 3px;
    display: inline;
}
#icon a:hover img{
    height: 45px;
    width: 45px;
    margin: 1.5px;
}
#about{
    text-align:justify;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 1.6em;
}
#download-button{
    font-weight: bolder;
    border-radius: 5px;
    color: #7FB4E8;
    font-family: 'Arial';
    text-decoration: none;
    padding: 8px;
    border:2px solid #7FB4E8;
}
#cv{
    padding: 30px;
    background-color: #1D2226;
    border-radius: 5px;
    margin: 1%;
}
#cv a:hover{
    background: #7FB4E8;
    color: #1D2226;
}
#cv a:active{
    border:2px solid #7FB4E8;
    color:#7FB4E8;
    background-color: #364E66;
}
